@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root {
  /* ====== Colors ====== */
  --bg: #f6f6f6;
  --black: #000000;
  --gold: #cfae78;
  --blue: #21559b;
  --sidebar-color: #fff;
  --sidebar-text-color: #707070;

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;

  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  --box-shadow2: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.05);
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --outline: 0.1rem solid rgba(0, 0, 0, 0.1);
  --outline-hover: 0.2rem solid var(--black);
  --border-radius: 10px;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  width: 100vw;
  font-size: 62.5%;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0px;
}

ul {
  padding-left: 0px;
}

body {
  max-width: 100%;
  padding-top: 65px;
  min-height: 100vh;
  background-color: var(--bg);
  transition: var(--tran-05);
  overflow-x: hidden;
  overflow-y: hidden;
}

select {
  word-wrap: normal;
  padding: 10px 15px;
  font-size: 17px;
  margin: 8px 0px;
  background: #eee;
  border-radius: 5px;
  text-align: center;
}

::selection {
  background-color: var(--blue);
  color: #fff;
}

/* ====== Header ====== */

.header {
  display: flex;
  padding: 0.5rem 2.5%;
  align-items: center;
}

.header-container {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 65px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
  background-color: var(--blue);
  border-bottom: 4px solid #cfae78;
}

.header-container .header .logo {
  font-size: 2.3rem;
}

.header-container .header img {
  height: 58px;
  width: 58px;
  margin-right: 0.5rem;
}

.icons {
  align-items: center;
  font-size: 2.5rem;
  padding: 0.5rem 2.5%;
}

/* ====== Footer ====== */

.footer {
  width: 100%;
  position: relative;
  bottom: 0;
  margin-left: 255px;
}
.footer .bottom-footer {
  background: var(--blue);
  color: white;
  font-size: 1.5rem;
  padding: 1.5rem 3rem;
  border-top: 3px solid var(--gold);
}

.footer .bottom-footer p {
  margin: 0px;
}

/* ===== Sidebar ===== */

.sidebar {
  position: fixed;
  top: 65px;
  left: 0;
  height: 100%;
  width: 255px;
  background: var(--sidebar-color);
  z-index: 100;
  transition: all 0.5s ease;
  padding: 15px;
  overflow-y: auto;
}

/* .sidebar li.search-box {
  border-radius: 6px;
  background-color: var(--blue-light);
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar li.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--blue-light);
  color: var(--sidebar-text-color);
  border-radius: 6px;
  font-size: 1.55rem;
  font-weight: 500;
  transition: var(--tran-05);
} */
.sidebar .nav-links {
  color: white;
}
.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}
.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
  border-radius: 6px;
  margin-bottom: 6px;
  color: var(--sidebar-text-color);
  cursor: pointer;
}

.sidebar .nav-links li:hover {
  background: var(--blue);
}
.sidebar .nav-links li:hover i {
  color: white;
}
.sidebar .nav-links li:hover .link_name {
  color: white;
}
.sidebar .nav-links li .iocn-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar .nav-links li i {
  height: 50px;
  /* min-width: 78px; */
  text-align: center;
  line-height: 50px;
  color: var(--sidebar-text-color);
  font-size: 1.65rem;
  transition: all 0.3s ease;
  margin: 0 15px;
}

.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(90deg);
}
.sidebar.close .nav-links i.arrow {
  display: none;
}
.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name {
  font-size: 1.55rem;
  font-weight: 400;
  color: var(--sidebar-text-color);
  transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 6px 35px;
  background: var(--sidebar-color);
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}
.sidebar .nav-links li .sub-menu a {
  color: var(--sidebar-text-color);
  font-size: 15px;
  padding: 5px 25px;
  white-space: nowrap;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover {
  color: white;
}
.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}

/* ====== Forms ====== */

.form {
  min-height: 50vh;
  /* width: 35%; */
  margin: 25px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  /* align-items: center;
  justify-content: center; */
  padding: 20px;
  background: var(--bg);
}

.form .form-element .form-header {
  padding: 10px 15px;
  display: flex;
}
.form .form-element .form-header h2 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #333;
}

.form .form-element .form-body form {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background: #fff;
  font-size: 20px;
  margin: auto;
}

.form .form-element .form-body form input {
  width: 100%;
  padding: 10px 15px;
  font-size: 17px;
  margin: 8px 0;
  background: #eee;
  border-radius: 5px;
}

.form .form-element .form-body form .form-btn {
  color: #fff;
  background: var(--blue);
  text-transform: capitalize;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  padding: 10px 15px;
  margin: 8px 0;
  border-radius: 5px;
}

.form .form-element .form-body form .form-btn:hover {
  /* background: #fff; */
  color: var(--gold);
}

.form .form-element .form-body form p {
  margin-top: 10px;
  font-size: 20px;
  color: #333;
}

.form .form-element .form-body form p a {
  color: var(--darkpink);
  cursor: pointer;
}

/* ======= Containers ====== */

.container {
  min-height: 100vh;
  width: auto;
  margin-left: 255px;
}
.row {
  width: auto;
  margin: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dashboard-container {
  min-height: 30vh;

  background: var(--bg);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 20px;
}
.dashboard-container h2 {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #333;
}

/* ====== Media Queries ====== */

@media (max-width: 767px) {
  /*mobile view*/

  .header-container .header .logo {
    font-size: 1.5rem;
  }
  .header-container .header img {
    height: 35px;
    width: 35px;
  }
  .icons {
    font-size: 1.5rem;
  }
  .footer .bottom-footer {
    font-size: 1rem;
    padding: 0.5rem 0rem;
  }
}

@media (min-width: 768px) {
  /*tablet view*/
}
@media (min-width: 1024px) {
  /*laptop view*/
}

@media screen and (max-width: 400px) {
  .sidebar {
    width: 240px;
  }
}
